<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>GEM_HOME</key>
        <string>/Users/jawa/.gem/ruby/2.0.0</string>
        <key>RUBYOPT</key>
        <string>rubygems</string>
    </dict>
    <key>Label</key>
    <string>com.ryantoohil.readinglisttoinstapaper</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>Program</key>
    <string>/Users/jawa/Dropbox/Repositories/Reading-List-to-Instapaper/readinglist_to_instapaper.rb</string>
    <key>ProgramArguments</key>
    <array>
      <string>readinglist_to_instapaper.rb</string>
    </array>
    <key>WatchPaths</key>
    <array>
      <string>/Users/jawa/Library/Safari/Bookmarks.plist</string>
    </array>
  </dict>
</plist>
